html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: transparent;
  /* background: #0e0e10; */
  user-select: none;
  margin: 0;
  padding: 2rem;
  position: absolute;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

body:hover {
  animation-name: fadeIn;
}

body:not(:hover) {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

body > * {
  cursor: url(img/cursor.png), auto;
}

section {
  transform: scale(0.5);
  transform-origin: top left;
}

@media only screen and (min-width: 768px) {
  section {
    transform: scale(0.6);
  }
}

@media only screen and (min-width: 1280px) {
  section {
    transform: scale(0.7);
  }
}

@media only screen and (min-width: 1440px) {
  section {
    transform: scale(0.8);
  }
}

@media only screen and (min-width: 1920px) {
  section {
    transform: scale(0.9);
  }
}

.character-level {
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  bottom: 0;
  text-shadow: 1px 1px 1px black;
}

.toggle {
  position: relative;
  margin-bottom: -11px;
  z-index: 10;
}

.inventory,
.inventory > * {
  position: absolute;
}

.inventory {
  width: 593px;
  height: 442px;
  background-image: url(img/bg.jpg);
  border-radius: 10px;
  border-top-left-radius: 0;
  z-index: 0;
}

.swap-container {
  max-height: 35px;
  overflow: hidden;
  top: 20px;
  left: 16px;
}

.swap.secondary {
  position: relative;
  bottom: 35px;
}

.swap-button {
  height: 29px;
  width: 125px;
  z-index: 1;
}
.swap-button.primary {
  top: 20px;
  left: 16px;
}
.swap-button.secondary {
  top: 20px;
  right: 16px;
}

.slot {
  display: grid;
  align-items: center;
  justify-content: center;
}

.slot:hover .description {
  display: block;
}

.description {
  white-space: nowrap;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  display: none;
  position: absolute;
  top: 0;
  left: calc(100% + 3px);
  z-index: 2;
  pointer-events: none;
}

.description p {
  padding: 0 0.75rem;
  margin: 0;
}

.description p:first-child {
  padding-top: 0.75rem;
}

.description p:last-child {
  padding-bottom: 0.75rem;
}

.primary_left,
.secondary_left {
  top: 56px;
  left: 22px;
}
.primary_right,
.secondary_right {
  top: 56px;
  left: 458px;
}
.head {
  top: 24px;
  left: 239px;
}
.body_armor {
  top: 165px;
  left: 239px;
}
.gloves {
  top: 306px;
  left: 21px;
}
.belt {
  top: 363px;
  left: 239px;
}
.boots {
  top: 306px;
  left: 457px;
}
.amulet {
  top: 121px;
  left: 376px;
}
.ring_left {
  top: 363px;
  left: 159px;
}
.ring_right {
  top: 363px;
  left: 376px;
}

.primary_left,
.primary_right,
.secondary_left,
.secondary_right {
  width: 113px;
  height: 222px;
}

.head.slot {
  width: 113px;
  height: 113px;
}

.body_armor.slot {
  width: 113px;
  height: 170px;
}
.gloves.slot {
  width: 113px;
  height: 113px;
}
.belt.slot {
  width: 113px;
  height: 56px;
}
.boots.slot {
  width: 113px;
  height: 113px;
}
.amulet.slot {
  width: 56px;
  height: 56px;
}
.ring_left.slot {
  width: 56px;
  height: 56px;
}
.ring_right.slot {
  width: 56px;
  height: 56px;
}

.quality-yellow {
  color: #fdfd70;
}
.quality-red {
  color: #e72626;
}
.quality-orange {
  color: #f7c100;
}
.quality-green {
  color: #01fd00;
}
.quality-gold {
  color: #dcc784;
}
.quality-blue {
  color: #7575fd;
}
.quality-socketed {
  opacity: 0.5;
}
.quality-white {
  color: #fdfdfd;
}
.quality-empty {
  opacity: 0.5;
  color: #fdfdfd;
}

/* Helpers */
.hidden {
  display: none;
}

.text-weight-bold {
  font-weight: 600;
}
